.logo {
    font-weight: 900;
    align-content: center;

    &:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
    .logo {
        height: 20%;
        margin-top: 50px;
        font-size: 1.25em;
    }
}

// mobile
@media (max-width: 599px) {
    .logo {
        height: 20%;
        margin-top: 50px;
        font-size: 1.25em;
    }

}

// tublet-portrait
@media (min-width: 600px) {
    .logo {
        height: 20%;
        margin-top: 50px;
    }
}

// tablet-landscape
@media (min-width: 900px) {
    .logo {
        width: auto;
        height: auto;
        margin-top: -0.25em;
        font-size: 1.4em;
    }
}

// desktop/laptop
@media (min-width: 1200px) {}

// desktop x-large
@media (min-width: 1800px) {}