.intro__image {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.intro__email {
  color: #2ea2af;
}

.intro__phone {
  color: #FD8369;
}

.intro {
  display: flex;
  align-items: center;

  p {
    font-weight: 600;
  }

  .intro__links {
    display: flex;


    a {
      font-weight: 900;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .intro {
    display: flex;
    flex-direction: column;
    margin-top: 0em;
    height: auto;
  }

  .intro__text {
    width: 100%;
  }

  .intro__image {
    display: none !important;
  }

  .intro__links {
    font-size: 21px;
  }
}

// mobile
@media (max-width: 599px) {
  .intro {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2em;
    height: auto;

    h1,
    p {
      text-align: center;
    }
  }

  .intro__text {
    width: 100%;
  }

  .intro__image {
    display: block;
    width: 100%;
    height: 40vh;
  }

  .intro__links {
    flex-direction: column;

    * {
      align-self: center;
      margin-top: 0.75em;
      font-size: 1.2em;
    }
  }
}

// tublet-portrait
@media (min-width: 600px) {
  .intro {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2em;
    height: auto;
    text-align: center;
  }

  .intro__text {
    width: 100%;
  }

  .intro__image {
    display: block;
    margin-top: 1.4em;
    height: 40vh;
    width: 100%;
  }

  .intro__links {
    width: 80%;
    font-size: 21px;
    margin-left: 10%;
    margin-top: 1em;
    justify-content: space-between;
  }
}

// tablet-landscape
@media (min-width: 900px) {
  .intro {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2em;
    height: auto;
    text-align: center;
  }


  .intro__text {
    width: 100%;
  }


  .intro__image {
    height: 50vh;
    width: 100%;
  }

  .intro__links {
    width: 100%;
    font-size: 21px;
    margin-left: 0;
    justify-content: space-around;
  }
}

// desktop/laptop
@media (min-width: 1200px) {
  .intro {
    display: flex;
    flex-direction: row;
    margin-top: 10em;
    height: auto;
    text-align: left;
  }


  .intro__text {
    width: 50%;
  }


  .intro__image {
    height: 50vh;
    width: 45%;
  }

  .intro__links {
    width: 100%;
    font-size: 21px;
    justify-content: space-between;
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .intro {
    display: flex;
    flex-direction: row;
    margin-top: 10em;
    width: 75%;
    height: auto;
    text-align: left;
  }

  .intro__text {
    width: 40%;
  }

  .intro__image {
    height: 50vh;
    width: 55%;
  }

  .intro__links {
    width: 90%;

    a {
      font-size: 1.1em;
    }
  }
}