@import "../normalize.css";

html,
body {
  font-family: "Montserrat", sans-serif;
}

audio:active,
audio:focus,
video:active,
video:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

h1,
h2 {
  font-weight: 900;
}

b {
  font-weight: 700;
  font-size: 1.1em;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    padding-left: 1em;
    text-indent: -1em;
    padding-bottom: 1em;
  }

  li:before {
    content: "\2714 ";
    color: orange;
    padding-right: 5px;
  }
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}

ol li {
  counter-increment: my-awesome-counter;
  margin-bottom: 1em;
}

ol li::before {
  content: counter(my-awesome-counter) " - ";
  color: black;
  font-weight: bold;
}




@media screen and (max-width: 1023px) and (orientation: landscape) {}

// mobile
@media (max-width: 599px) {
  h1 {
    font-size: 39px;
    line-height: 47px;
    text-align: center;
  }

  h2 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }

  p,
  li {
    font-size: 18px;
    line-height: 28px;
    text-align: left;
  }

  section {
    width: 90%;
    margin-left: 5%;
  }


}

// tublet-portrait
@media (min-width: 600px) {
  h1 {
    font-size: 50px;
    line-height: 60px;
  }

  h2 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  p,
  li {
    font-size: 21px;
    line-height: 33px;
  }

  section {
    width: 80%;
    margin-left: 10%;
  }


}

// tablet-landscape
@media (min-width: 900px) {
  h1 {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }

  h2 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  p {
    font-size: 21px;
    line-height: 33px;
  }


}

// desktop/laptop
@media (min-width: 1200px) {

  h1,
  h2 {
    text-align: left;
  }


}

// desktop x-large
@media (min-width: 1800px) {}