.contacts {
  background-color: rgb(200, 243, 248);
  width: 100%;
  margin: 0;
}

.contacts__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  display: flex;
  flex-direction: column;

  .contacts__phone a,
  .contacts__email a {
    text-decoration: none;
    color: black;
  }

  .contacts__phone a {
    font-weight: 900;
  }

  .contacts__email a {
    font-weight: 700;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .contacts {
    height: 75vh;
  }

  .contacts__wrapper {
    width: 90%;
    margin-left: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .contacts__phone a,
  .contacts__email a {
    line-height: 1.8em;
  }

  .contacts__phone a {
    font-size: 1.75em;
  }

  .contacts__email a {
    font-size: 1.5em;
  }
}

// mobile
@media (max-width: 599px) and (orientation: portrait) {
  .contacts {
    height: 50vh;
  }

  .contacts__wrapper {
    width: 90%;
    margin-left: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .contacts__info {
    margin-top: 2em;
    height: auto;
    width: 100%;
    align-items: flex-end;

    h2 {
      text-align: right;
    }

    .contacts__phone a,
    .contacts__email a {
      line-height: 1.8em;
    }

    .contacts__phone a {
      font-size: 1.75em;
    }

    .contacts__email a {
      font-size: 1.5em;
    }
  }
}

// tublet-portrait
@media (min-width: 600px) and (orientation: portrait) {
  .contacts {
    height: 40vh;
  }

  .contacts__wrapper {
    width: 90%;
    margin-left: 5%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;

    h2 {
      text-align: center;
    }
  }

  .contacts__info {
    margin-top: 1em;
    height: auto;
    width: 100%;
    align-items: center;

    h2 {
      text-align: center;
    }

    .contacts__phone a,
    .contacts__email a {
      line-height: 1.8em;
    }

    .contacts__phone a {
      font-size: 1.75em;
    }

    .contacts__email a {
      font-size: 1.5em;
    }
  }
}

// tablet-landscape
@media (min-width: 900px) and (orientation: landscape) {
  .contacts {
    height: 65vh;
  }

  .contacts__wrapper {
    width: 90%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
  }

  .contacts__info {
    height: 68%;
    width: 55%;
    align-items: center;
    justify-content: center;

    .contacts__phone a,
    .contacts__email a {
      line-height: 1.8em;
    }

    .contacts__phone a {
      font-size: 1.75em;
    }

    .contacts__email a {
      font-size: 1.5em;
    }
  }
}

// desktop/laptop
@media (min-width: 1200px) {
  .contacts {
    height: 55vh;
  }

  .contacts__wrapper {
    width: 80%;
    margin-left: 10%;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    h2 {
      text-align: center;
    }
  }

  .contacts__info {
    height: 65%;
    width: 65%;
    align-items: center;
    justify-content: space-between;

    .contacts__phone a,
    .contacts__email a {
      line-height: 1.8em;
    }

    .contacts__phone a {
      font-size: 1.75em;
    }

    .contacts__email a {
      font-size: 1.5em;
    }
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .contacts {
    height: 55vh;
  }

  .contacts__wrapper {
    width: 60%;
    margin-left: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
      text-align: center;
    }
  }

  .contacts__info {
    height: 55%;
    width: 45%;
    align-items: center;
    justify-content: center;
    text-align: center;

    .contacts__phone {}

    .contacts__phone a,
    .contacts__email a {
      line-height: 1.8em;
    }

    .contacts__phone a {
      font-size: 1.75em;
    }

    .contacts__email a {
      font-size: 1.5em;
    }
  }
}