.contacts {
    background-color: #B4DBFE;
    width: 100%;
    margin: 0;
}

.contacts__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.contacts__form {
    display: flex;
    flex-direction: column;


    form fieldset {
        display: flex;
        flex-direction: column;
        border: none;
        margin: 0;
        padding: 0;

        input,
        textarea {
            outline: 0;
            resize: none;
        }
    }
}

.contacts__info {
    display: flex;
    flex-direction: column;

    .contacts__phone a,
    .contacts__email a {
        text-decoration: none;
        color: black;
    }

    .contacts__phone a {
        font-weight: 900;
    }

    .contacts__email a {
        font-weight: 700;
    }

    .contacts__social {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {}

// mobile
@media (max-width: 599px) {
    .contacts {
        height: auto;
    }

    .contacts__wrapper {
        width: 90%;
        margin-left: 5%;
        flex-direction: column;
    }

    .contacts__form {
        margin-top: 2em;
        width: 100%;

        form fieldset {

            input,
            textarea {
                width: 87.5%;
                padding: 10px 20px;
                margin-top: 0.5em;
            }
        }
    }

    .contacts__info {
        margin-top: 5em;
        height: auto;
        width: 100%;
        align-items: flex-end;

        h2 {
            text-align: right;
        }

        .contacts__phone a,
        .contacts__email a {
            line-height: 1.8em;
        }

        .contacts__phone a {
            font-size: 1.75em;
        }

        .contacts__email a {
            font-size: 1.5em;
        }

        .contacts__social {
            margin-top: 2em;
            width: 50%;
        }
    }
}

// tublet-portrait
@media (min-width: 600px) {
    .contacts {
        height: auto;
    }

    .contacts__wrapper {
        width: 90%;
        margin-left: 5%;
        flex-direction: column;
    }

    .contacts__form {
        margin-top: 5em;
        width: 100%;

        form fieldset {

            input,
            textarea {
                width: 90%;
                padding: 10px 20px;
                margin-top: 0.5em;
            }
        }
    }

    .contacts__info {
        margin-top: 5em;
        height: auto;
        width: 100%;
        align-items: flex-end;

        h2 {
            text-align: right;
        }

        .contacts__phone a,
        .contacts__email a {
            line-height: 1.8em;
        }

        .contacts__phone a {
            font-size: 1.75em;
        }

        .contacts__email a {
            font-size: 1.5em;
        }

        .contacts__social {
            margin-top: 2em;
            width: 36%;
        }
    }
}

// tablet-landscape
@media (min-width: 900px) {
    .contacts {
        height: 85vh;
    }

    .contacts__wrapper {
        width: 90%;
        margin-left: 5%;
        flex-direction: row-reverse;
    }

    .contacts__form {
        margin-top: 5em;
        width: 45%;

        form fieldset {

            input,
            textarea {
                width: 90%;
                padding: 10px 20px;
                margin-top: 0.5em;
            }
        }
    }

    .contacts__info {
        margin-top: 5em;
        height: 65%;
        width: 45%;

        h2 {
            text-align: left;
        }

        .contacts__phone a,
        .contacts__email a {
            line-height: 1.8em;
        }

        .contacts__phone a {
            font-size: 1.75em;
        }

        .contacts__email a {
            font-size: 1.5em;
        }

        .contacts__social {
            margin-top: 2em;
            width: 36%;
        }
    }
}

// desktop/laptop
@media (min-width: 1200px) {
    .contacts {
        height: 75vh;
    }

    .contacts__wrapper {
        width: 80%;
        margin-left: 10%;
    }

    .contacts__form {
        margin-top: 5em;
        width: 45%;

        form fieldset {

            input,
            textarea {
                width: 80%;
                padding: 10px 20px;
                margin-top: 0.5em;
            }
        }
    }

    .contacts__info {
        margin-top: 5em;
        height: 65%;
        width: 45%;

        .contacts__phone a,
        .contacts__email a {
            line-height: 1.8em;
        }

        .contacts__phone a {
            font-size: 1.75em;
        }

        .contacts__email a {
            font-size: 1.5em;
        }

        .contacts__social {
            margin-top: 2em;
            width: 36%;
        }
    }
}

// desktop x-large
@media (min-width: 1800px) {
    .contacts {
        height: 75vh;
    }

    .contacts__wrapper {
        width: 60%;
        margin-left: 20%;
    }

    .contacts__form {
        margin-top: 5em;
        width: 45%;

        form fieldset {

            input,
            textarea {
                width: 80%;
                padding: 10px 20px;
                margin-top: 0.5em;
            }
        }
    }

    .contacts__info {
        margin-top: 5em;
        height: 65%;
        width: 45%;

        .contacts__phone a,
        .contacts__email a {
            line-height: 1.8em;
        }

        .contacts__phone a {
            font-size: 1.75em;
        }

        .contacts__email a {
            font-size: 1.5em;
        }

        .contacts__social {
            margin-top: 2em;
            width: 36%;
        }
    }
}