.video {
  width: inherrit;
}

.video__image {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .video__image {
    display: none;
  }
}

// mobile
@media (max-width: 599px) and (orientation: portrait) {
  .video {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }

  .video__text {
    width: 100%;
    height: auto;
  }

  .video__image {
    width: auto;
    height: 40vh;
  }
}

// tublet-portrait
@media (min-width: 600px) {
  .video {
    margin-top: 3.5em;
    display: flex;
    flex-direction: column;
  }

  .video__text {
    width: 100%;
    height: auto;
  }

  .video__image {
    width: 100%;
    height: 40vh;
  }
}

// tablet-landscape
@media (min-width: 900px) {
  .video {
    margin-top: 3.5em;
    display: flex;
    flex-direction: column;
  }

  .video__text {
    width: 100%;
    height: auto;
    align-self: center;
  }

  .video__image {
    width: 100%;
    height: 40vh;
  }
}

// desktop/laptop
@media (min-width: 1200px) {
  .video {
    margin-top: 7.5em;
    display: flex;
    flex-direction: row;
  }

  .video__text {
    width: 40%;
    height: auto;
    margin-left: 10%;
    align-self: center;
  }

  .video__image {
    width: 50%;
    height: 40vh;
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .video {
    margin-top: 7.5em;
    display: flex;
    flex-direction: row;
  }

  .video__text {
    width: 48%;
    height: auto;
    align-self: center;
  }

  .video__image {
    width: 42%;
    height: 40vh;
  }
}