.navbar,
.navbar--hidden {
  width: 100%;
  transition: top 0.5s;
  z-index: 100;
  background-color: white;

  .navbar__wrapper {
    display: flex;

    .navbar__links {
      display: flex;

      .navbar__link {
        font-weight: 700;
        transition: color 0.25s ease-in-out;

        &:hover {
          cursor: pointer;
          color: #231d9b;
        }
      }
    }
  }
}

.navbar {
  top: 0;
}


@media screen and (max-width: 1023px) and (orientation: landscape) {

  .navbar,
  .navbar--hidden {
    position: relative;
    height: 100vh;

    .navbar__wrapper {
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;

      .navbar__links {
        flex-direction: column;
        text-align: center;
        height: 80vh;
        justify-content: space-between;

        * {
          font-size: 1.5em;
          margin-top: 0.8em;
        }
      }
    }
  }
}

// mobile
@media (max-width: 599px) {

  .navbar,
  .navbar--hidden {
    position: relative;

    .navbar__wrapper {
      width: 100%;
      height: 50vh;
      flex-direction: column;
      align-items: center;

      .navbar__links {
        flex-direction: column;
        text-align: center;
        height: 60vh;
        justify-content: space-between;
      }
    }
  }
}

// tublet-portrait
@media (min-width: 600px) {

  .navbar,
  .navbar--hidden {
    position: relative;

    .navbar__wrapper {
      width: 100%;
      height: 40vh;
      flex-direction: column;
      align-items: center;

      .navbar__links {
        flex-direction: column;
        text-align: center;
        height: 80%;
        justify-content: space-between;
      }
    }
  }
}

// tablet-landscape
@media (min-width: 900px) {

  .navbar,
  .navbar--hidden {
    .navbar__wrapper {
      width: 90%;
      margin: auto 5%;
      height: 50px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .navbar__links {
        width: 70%;
        flex-direction: row;
        align-items: center;
        text-align: center;
      }
    }
  }
}

// desktop/laptop
@media (min-width: 1200px) {

  .navbar--hidden {
    top: -100px;
  }

  .navbar,
  .navbar--hidden {
    .navbar__wrapper {
      width: 80%;
      margin: auto 10%;
      height: 60px;

      .navbar__links {
        width: 70%;
      }
    }
  }
}

// desktop x-large
@media (min-width: 1800px) {

  .navbar,
  .navbar--hidden {
    position: fixed;

    .navbar__wrapper {
      width: 60%;
      margin: auto 20%;
      height: 60px;

      .navbar__links {
        width: 70%;
      }
    }
  }
}